body{
    margin: 0;
    background-color: seagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    width: 320px;position: relative;
}
.back-bar{
    position: absolute;
    height: 18px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.front-bar{
    position: absolute;
    height: 18px;
    width: 0%;
    background-color: rgb(145, 21, 21);
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
}

.counter{
    font-size: 40px;
    font-weight: bold;
    color:white;
}